  - __IP__:
    - model: "__MODEL__"
    - protocal: "__PROTO__"
    - securitylevel: "__SECLEV__"
    - username: "__USER__"
    - authenticationmethod: "__AUTHMTD__"
    - authenticationpassword: "__AUTHPASS__"
    - privacymethod: "__PRIVMTD__"
    - privacypassword: "__PRIVPASS__"