Django==5.2.16
celery==5.6.3
psycopg2==2.9.12
requests==2.34.2
pynag==1.1.2
neo4j==6.2.0
jinja2==3.1.6
neo4jrestclient==2.1.1
scapy==2.7.0
mysqlclient==2.2.8
django-bulk-sync==3.3.0
pika==1.4.2
redis==8.1.0
apprise==1.12.0
html2markdown==0.1.7
html2text==2025.4.15
mysql-connector-python==26.7.0
numpy==2.5.1
pandas==3.0.5
scalpl==0.4.2
django-cors-headers==4.9.0
django-google-sso==10.0.0
django-crispy-forms==2.7
django-allauth==65.18.0
pyyaml==6.0.3
redfish==3.3.7
pymysql==1.2.0
msal==1.37.0
git+https://github.com/azure-samples/ms-identity-python-utilities@9b32cef36c6c0b73c1b3237fdd66128d89f90a62
ms_identity_web
openpyxl==3.1.5
reportlab==5.0.0
elasticsearch==9.4.1
pyotp==2.10.0
qrcode==8.2
psutil==7.2.2
django-redis==7.0.0
django-db-connection-pool==1.2.6
prometheus-client==0.26.0
python-json-logger==4.1.0
pymongo==4.17.0
urllib3==2.7.0
mozilla-django-oidc==5.0.2
whitenoise[brotli]==6.12.0
Pillow==12.3.0
