Django==3.0.2
celery
django-clear-cache
psycopg2
requests==2.31.0
pynag
neo4j
jinja2
neo4jrestclient
scapy
mysqlclient
django-bulk-sync
django-bulk-update
pika
redis==3.5.3
django-redis
apprise==1.1.0
html2markdown
html2text
mysql-connector-python
numpy
pandas
scalpl
django-cors-headers
