Django==4.1.7
celery
django-clear-cache
psycopg2
requests==2.31.0
pynag
neo4j
jinja2
neo4jrestclient
scapy
mysqlclient==2.2.4
django-bulk-sync
django-bulk-update
pika
redis==3.5.3
apprise==1.1.0
html2markdown
html2text
python-redmine==2.3.0
mysql-connector-python
numpy==1.24.3
pandas==2.2.0
scalpl
django-cors-headers
django-google-sso
django-crispy-forms
django-allauth
pyyaml
redfish
pymysql
msal
git+https://github.com/azure-samples/ms-identity-python-utilities@main
ms_identity_web
openpyxl
reportlab
elasticsearch
pyotp
qrcode
psutil
django-redis
django-db-connection-pool
prometheus-client==0.19.0
python-json-logger==2.0.7
pymongo==4.6.0
urllib3<2.0
