#TEMPLATE_USED:DIRECT/HOSTS/Switch/CISCO/C2960-24.j2
## Host as Service
define host {
        use 			    generic-switch
        alias 			    {{ COMMON_HOSTNAME }}
        display_name 		{{ COMMON_HOSTNAME }}
        address 		    {{ COMMON_IPADDRESS }}
	    check_command		check_ping!200.0,20%!600.0,60%
        _NEO4j_contactEmail 	{{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        host_name 		    {{ COMMON_HOSTNAME }}
	    _NEO4j_title 		{{ COMMON_HOSTNAME }}
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_hostname	    {{ COMMON_HOSTNAME }}
	    _NEO4j_address		{{ COMMON_IPADDRESS }}
        _NEO4j_nics		        {}
        _NEO4j_sertype        Firewall_stack
        _NEO4j_FrdlyName		        {{ FRNDLY_NAME }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
	    _NEO4j_layer	f_swi
	    _NEO4j_tech	Switch
	    _NEO4j_icon		    fortigate_firewall_stack.j2
	    _NEO4j_type     Host
	    _NEO4j_parent       ""
	    _NEO4j_WF			        {}
}

## Service as Micro-Service
define service{
        use                     	generic-1min-service
	    host_name               	{{ COMMON_HOSTNAME }}
        service_description     	{{ COMMON_HOSTNAME }}:Info
        check_command           	check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o sysDescr.0 -r '2|1' -m RFC1213-MIB
        _NEO4j_title             	{{ COMMON_HOSTNAME }}:Info
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent           	{{ COMMON_HOSTNAME }}
        _NEO4j_address          	{{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
	_NEO4j_layer        f_swi
        _NEO4j_tech       	Switch
        _NEO4j_icon             	Info.png
        _NEO4j_type         	HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pmodem
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pmodem
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pconsole
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pconsole
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pdmz
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10001 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pdmz
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pmgmt
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10002 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pmgmt
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pwan1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10005 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pwan1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pwan2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10007 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pwan2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pha1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10006 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pha1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pha2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10008 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pha2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi01
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10003 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi01
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi02
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10009 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi02
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi03
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10004 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi03
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi04
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10010 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi04
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi05
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10011 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi05
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi06
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10015 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi06
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi07
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10012 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi07
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi08
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10016 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi08
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi09
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10013 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi09
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi10
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10017 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi10
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi11
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10014 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi11
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi12
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10018 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi12
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:px1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10023 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:px1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:px2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:px2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi13
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi13
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi14
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi14
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi15
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi15
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi16
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi16
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi17
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10019 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi17
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi18
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10020 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi18
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi19
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10021 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi19
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi20
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10022 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi20
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi17
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi17
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi18
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi18
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi19
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi19
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pi20
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pi20
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:smodem
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:smodem
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sconsole
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sconsole
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sdmz
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10001 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sdmz
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:smgmt
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10002 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:smgmt
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:swan1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10005 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:swan1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:swan2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10007 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:swan2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sha1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10006 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sha1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sha2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10008 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sha2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si01
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10003 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si01
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si02
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10009 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si02
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si03
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10004 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si03
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si04
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10010 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si04
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si05
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10011 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si05
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si06
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10015 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si06
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si07
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10012 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si07
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si08
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10016 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si08
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si09
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10013 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si09
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si10
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10017 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si10
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si11
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10014 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si11
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si12
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10018 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si12
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sx1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10023 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sx1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sx2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sx2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si13
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si13
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si14
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si14
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si15
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si15
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si16
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si16
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si17
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si17
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si18
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si18
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si19
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si19
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si20
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si20
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si17
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10019 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si17
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si18
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10020 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si18
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si19
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10021 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si19
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:si20
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10022 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:si20
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:CPU
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:CPU
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     CPU.png
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:Memory
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:Memory
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     Memory.png
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:temperature
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:temperature
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     temperature.png
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:fan
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:fan
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     fan.jpg
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:Uptime
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:Uptime
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     Uptime.png
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}