#TEMPLATE_USED:DIRECT/HOSTS/Switch/CISCO/C2960-24.j2
## Host as Service
define host {
        use 			    generic-switch
        alias 			    {{ COMMON_HOSTNAME }}
        display_name 		{{ COMMON_HOSTNAME }}
        address 		    {{ COMMON_IPADDRESS }}
	    check_command		check_ping!200.0,20%!600.0,60%
        _NEO4j_contactEmail 	{{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        host_name 		    {{ COMMON_HOSTNAME }}
	    _NEO4j_title 		{{ COMMON_HOSTNAME }}
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_hostname	    {{ COMMON_HOSTNAME }}
	    _NEO4j_address		{{ COMMON_IPADDRESS }}
        _NEO4j_nics		        {}
        _NEO4j_sertype        Firewall_stack60E
        _NEO4j_FrdlyName		        {{ FRNDLY_NAME }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
	    _NEO4j_layer	f_swi
	    _NEO4j_tech	Switch
	    _NEO4j_icon		    fortigate_firewall_stack_60E.j2
	    _NEO4j_type     Host
	    _NEO4j_parent       ""
	    _NEO4j_WF			        {}
}

## Service as Micro-Service
define service{
        use                     	generic-1min-service
	    host_name               	{{ COMMON_HOSTNAME }}
        service_description     	{{ COMMON_HOSTNAME }}:Info
        check_command           	check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o sysDescr.0 -r '2|1' -m RFC1213-MIB
        _NEO4j_title             	{{ COMMON_HOSTNAME }}:Info
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent           	{{ COMMON_HOSTNAME }}
        _NEO4j_address          	{{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
	_NEO4j_layer        f_swi
        _NEO4j_tech       	Switch
        _NEO4j_icon             	Info.png
        _NEO4j_type         	HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pmodem
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pmodem
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pconsole
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pconsole
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pwan1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10005 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pwan1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pwan2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10007 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pwan2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pdmz
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10007 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pdmz
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pinternal1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10003 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pinternal1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pinternal2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10009 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pinternal2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pinternal3
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10004 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pinternal3
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pinternal4
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10010 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pinternal4
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pinternal5
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10011 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pinternal5
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pinternal6
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10011 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pinternal6
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:pinternal7
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10011 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:pinternal7
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:smodem
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:smodem
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sconsole
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sconsole
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:swan1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10005 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:swan1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:swan2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10007 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:swan2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sdmz
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10007 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sdmz
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sinternal1
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10003 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sinternal1
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sinternal2
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10009 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sinternal2
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sinternal3
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10004 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sinternal3
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sinternal4
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10010 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sinternal4
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sinternal5
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10011 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sinternal5
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sinternal6
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10011 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sinternal6
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}
define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:sinternal7
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10011 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:sinternal7
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     port
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:CPU
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:CPU
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     CPU.png
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:Memory
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:Memory
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     Memory.png
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:temperature
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:temperature
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     temperature.png
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:fan
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:fan
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     fan.jpg
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}

define service{
        use                             generic-1min-service
        host_name                       {{ COMMON_HOSTNAME }}
        service_description             {{ COMMON_HOSTNAME }}:Uptime
        check_command                   check_snmp!-C {{CUSTOM_READ_COMMUNITY_STRING}} -o ifOperStatus.10024 -r '2|1' -m RFC1213-MIB
        _NEO4j_title                    {{ COMMON_HOSTNAME }}:Uptime
        _NEO4j_contactEmail                 {{ REUSABLE_EMAIL }}
        _NEO4j_Automation                 {{ BOOL__REUSABLE_AUTOMATION }}
        _NEO4j_Vault                 {{ REUSABLE_AUTOMATION__REUSABLE_VAULT }}
        _NEO4j_parent                   {{ COMMON_HOSTNAME }}
        _NEO4j_address                  {{ COMMON_IPADDRESS }}
	_NEO4j_application	{{ GLOBAL_APPLICATION }}
        _NEO4j_layer        f_swi
        _NEO4j_tech               Switch
        _NEO4j_icon                     Uptime.png
        _NEO4j_type                 HostMS
        _NEO4j_WF			        {}
        _NEO4J_RELATIONSHIP_RQD     No
}