{% extends "app/commonlayout.html" %}
{%load static %}

{% block additional_css %}
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootnavbar.css'%}" />
<link rel="stylesheet" href="{% static 'app/css/sweetalert.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/timeline.css' %}" />

<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    /*(.google-visualization-tooltip { transform: rotate(5deg); }*/
    .icon-node {
        display: block !important;
    }

    .close {
        float: left;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        /*#767676;*/
        opacity: .9;
        margin-left: 2.3%;
        margin-top: 0.2%;
        width: 3%;
        background-color: transparent;
        border: 2.5px solid red;
        border-radius: 4px;
    }

    .close:hover {
        color: #ffffff;
        text-decoration: none;
        border: 0.5px solid #ffffff;
        background-color: red;
    }

    div.google-visualization-tooltip {
        width: 300px;
        background-color: #1f1f1f;
        top: 0
    }

    text {
        font: 12px sans-serif;
        pointer-events: none;
    }

    /*.topright {
         position: absolute;
         right: 0;
         top: 0
    }*/

    #google-visualization-errors-all-1 {
        display: none
    }

    @media only screen and (max-width: 768px) {
        .close {
            margin-left: 8.3%;
            width: 7%;
        }

        #gridstackdiv {
            height: 4000px;
        }

        #new-br {
            display: none
        }

        text {
            font: 10px sans-serif;
        }

        #web-socs {
            font-size: 0px;
        }

        #bodLED:hover .site-middle,
        #eodLED:hover .site-middle,
        #adpLED:hover .site-middle,
        #ticket-iconn:hover .site-middle,
        #incident-iconn:hover .site-middle,
        #entityLED:hover .site-middle {
            right: 30%;
        }
    }
</style>

<style>
    .tooltip {
        position: relative;
        display: inline-block;
        /*border-bottom: 1px dotted black;*/
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 970%;
        background-color: #121212;
        color: #fff;
        font-size: 2px;
        text-align: left;
        /*border-radius: 10px;
            box-shadow: 1px 2px #aab2bd;*/
        padding: 5px 13px;
        line-height: 100%;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 70%;
        right: 500%;
        height: 160%;
        border: 1px solid #e99123;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>

<style>
    .led-box {
        height: 7%;
        width: 20%;
        margin: 0 0;
        float: left;
    }

    .led-red {
        margin: 0 auto;
        width: 24px;
        height: 24px;
        background-color: #F00;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #ff3838 0 2px 12px;
        -webkit-animation: blinkRed 0.5s infinite;
        -moz-animation: blinkRed 0.5s infinite;
        -ms-animation: blinkRed 0.5s infinite;
        -o-animation: blinkRed 0.5s infinite;
        animation: blinkRed 0.5s infinite;
    }

    .led-green {
        margin: 0 auto;
        width: 24px;
        height: 24px;
        background-color: #00ff00;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
        -webkit-animation: blinkGreen 1s infinite;
        -moz-animation: blinkGreen 1s infinite;
        -ms-animation: blinkGreen 1s infinite;
        -o-animation: blinkGreen 1s infinite;
        animation: blinkGreen 1s infinite;
    }



    #loader {
        width: 100%;
        height: 100%;
    }

    .center {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0%;
        margin: auto;
        width: 20%
    }

    #hardware-title-clr,
    #software-title-clr,
    #application-title-clr {
        /*left: 8%;*/
        position: relative;
    }

    .card-low-padding {
        padding: 0.5rem !important;
    }

    /* ===== SAFE HIDE FOR SIDEBAR ICONS (ROLE-BASED) =====
       When a menu item is not allowed for the current role,
       remove it completely from the layout so there is no
       empty vertical space or alignment issue in the sidebar. */
    .menu-hidden {
        display: none !important;
    }

    /* Make sidebar icons stack evenly regardless of how many
       are visible for the current role */
    .icon-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
</style>

{% endblock additional_css %}


{% block content %}

<div class="main-panel">
    <!-- ============= COMPONENT ============== -->
    <!-- ==== Rajkumar added ==== -->
    <!-- ==== Rajkumar added end ==== -->
    <div class="icon-bar">
        <!--<a class="nav-link tooltip-a" href="#Overview">
        <span class="tooltip-span">
            <i class="mdi mdi-view-dashboard" id="icon-chats"></i>
        </span>
    </a>-->
        <a class="nav-link tooltip-a bod_LED" id="modal_view_right " data-toggle="modal" data-target="#bodeod_modals">
            <span class="indicator" id="bodLED">
                <span class="tooltip-span">
                    <i class="mdi mdi-alpha-b-box hover-count" id="icon-chats">
                        <div class="site-middle">
                            <h4 class="drop_text1">&emsp;BOD</h4>
                        </div>
                    </i><!-- Bod -->
                </span>
            </span>

        </a>
        <a class="nav-link tooltip-a adp_LED" id="modal_view_right " data-toggle="modal" data-target="#adp_modals">
            <span class="indicator" id="adpLED">
                <span class="tooltip-span">
                    <i class="mdi mdi-alpha-a-box hover-count" id="icon-chats">
                        <div class="site-middle">
                            <h4 class="drop_text1">&emsp;APM</h4>
                        </div>
                    </i><!-- Adp -->
                </span>
            </span>
        </a>
        <a class="nav-link tooltip-a le_adp_LED" id="modal_view_right " data-toggle="modal" data-target="#leadp_modals">
            <span class="indicator" id="leadpLED">
                <span class="tooltip-span">
                    <i class="mdi mdi-alpha-l-box hover-count" id="icon-chats">
                        <div class="site-middle">
                            <h4 class="drop_text1">&emsp;LE-ADP</h4>
                        </div>
                    </i><!-- Le-Adp -->
                </span>
            </span>
        </a>
        <a class="nav-link tooltip-a  eod_LED" id="modal_view_right" data-toggle="modal" data-target="#eod_modals">
            <span class="indicator" id="eodLED">
                <span class="tooltip-span">
                    <i class="mdi mdi-alpha-e-box hover-count" id="icon-chats">
                        <div class="site-middle">
                            <h4 class="drop_text1">&emsp;EOD</h4>
                        </div>
                    </i><!-- Eod -->
                </span>
            </span>
        </a>
        <a class="nav-link tooltip-a  oms_LED" id="modal_view_right" data-toggle="modal" data-target="#oms_modal">
            <span class="indicator" id="omsLED">
                <span class="tooltip-span">
                    <i class="mdi mdi-view-dashboard hover-count" id="icon-chats">
                        <div class="site-middle">
                            <h4 class="drop_text1">&emsp;Management Console</h4>
                        </div>
                    </i><!-- Management -->
                </span>
            </span>
        </a>
        <!--<div class="dropdowns" style="float:right;">
        <span class="tooltip-span">
            <i class="mdi mdi-chart-arc" id="icon-chats"></i>
        </span>
        <div class="dropdowns-content dropdowns-content-width">
            <a class="dropdowns-item" id="norendashboard">
                <div class="" id="modal_view_right" data-toggle="modal" data-target="#oms_modal">
                    <h4 class="drop_text2"><span>OrderManagementSystem(OMS)</span></h4>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdowns-item" id="investorlogins">
                <div class="" id="modal_view_right" data-toggle="modal" data-target="#investor_modal">
                    <h4 class="drop_text2"><span>Investor(MOB/WEB)</span></h4>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdowns-item" id="dealerlogins">
                <div class="" id="modal_view_right" data-toggle="modal" data-target="#dealer_modal">
                    <h4 class="drop_text2"><span>Dealer</span></h4>
                </div>
            </a>
        </div>
    </div>-->
        <!--<div class="dropdowns" style="float:right;">
        <span class="tooltip-span">
            <i class="mdi mdi-settings" id="icon-chats"></i><!-- Statistics
        </span>
        <div class="dropdowns-content">
            <!-- <a class="dropdowns-item" id="">
            <div class="" id="modal_view_right" data-toggle="modal" data-target="#serveron_board">
                <span>Server On Board</span>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdowns-item" id="">
            <div class="" id="modal_view_right" data-toggle="modal" data-target="#servernew_onb_board">
                <span>Server On Board</span>
            </div>
        </a>
        <div class="dropdown-divider"></div>
            <a class="dropdowns-item pad-unset" id="">
                <div class="" id="modal_view_right" data-toggle="modal" data-target="#servernew_all_onb_board">
                    <h4 class="drop_text2"><span>Server On Board</span></h4>
                </div>
            </a>

        </div>
    </div>-->
        <a class="nav-link tooltip-a  sob_LED" id="modal_view_right" data-toggle="modal"
           data-target="#servernew_all_onb_board">
            <span class="indicator" id="sobLED">
                <span class="tooltip-span">
                    <i class="mdi mdi-settings hover-count" id="icon-chats">
                        <div class="site-middle">
                            <h4 class="drop_text1" style="width:max-content;">&emsp;On-Board Devices</h4>
                        </div>
                    </i><!-- Onboard -->
                </span>
            </span>
        </a>
        <a class="nav-link tooltip-a" id="modal_view_right" data-toggle="modal" data-target="#entity-switch_modal">
            <span class="indicator" id="entityLED">
                <span class="tooltip-span">
                    <i class="icon-node hover-count" id="icon-chats">
                        <div class="site-middle">
                            <h4 class="drop_text1">&emsp;Domain</h4>
                        </div>
                    </i><!-- entity Overview -->
                </span>
            </span>
        </a>
        <!--<a class="nav-link tooltip-a" href="#TicketsOverview">
    <span class="tooltip-span">
        <i class="mdi mdi-ticket-account" id="icon-chats"></i>-->
        <!-- Ticket Overview -->
        <!--</span>
    </a>-->
        <a class="nav-link tooltip-a" id="modal_view_right" data-toggle="modal" data-target="#Ticket_modal">
            <span class="tooltip-span" id="ticket-iconn">
                <i class="mdi mdi-ticket-confirmation hover-count" id="icon-chats">
                    <div class="site-middle">
                        <h4 class="drop_text1">&emsp;Tickets</h4>
                    </div>
                </i><!-- Ticket Status (page) -->
            </span>
        </a>
        <a class="nav-link tooltip-a" id="modal_view_right" data-toggle="modal" data-target="#Incident_modal">
            <span class="tooltip-span" id="incident-iconn">
                <i class="mdi mdi-alert hover-count hover-count" id="icon-chats">
                    <div class="site-middle">
                        <h4 class="drop_text1">&emsp;Incident</h4>
                    </div>
                </i><!-- Incident (page) -->
            </span>
        </a>
        <!--<a class="nav-link tooltip-a" id="incident-icon" href="javascript:void(0)" onclick="openIncidentPage()">
            <span class="tooltip-span">
                <i class="mdi mdi-alert hover-count" id="icon-chats">
                    <div class="site-middle">
                        <h4 class="drop_text1">&emsp;Incident</h4>
                    </div>
                </i>
            </span>
        </a>-->
    </div>
    <!-- ============= COMPONENT END// ============== -->
    <!-- ============= content-wrapper Start =========== -->

    <div class="content-wrapper" style="margin-left: 2.8%;margin-top:1%">

        <div class="row col-12" style="display:flex">
            <!--<div class="col-1"></div>-->
            <div class="col-6">
                <h3 class="page-title" id="page-title" style="color:#e99123; font-family:Arial;"> </h3>
            </div>

            <!--  LED for top start -->
            <div class="col-6" id="web-socs">
                <div class="row" style="display: flex; justify-content: end">
                    <!--   <div class="" id="bodeod-html">
                </div>&emsp;
                <div class="" id="entity-html">
                </div>&emsp;
                <div class="indicator" id="">
                    <i class="mdi mdi-close-network-outline" id="icon-chats"></i>
                </div>--->
                    <div class="" id="bodeod-html">
                    </div>&emsp;
                    <div class="" id="adp-html">
                    </div>&emsp;
                    <div class="" id="eod-html">
                    </div>&emsp;
                    <div class="" id="entity-html">
                    </div>&emsp;
                    <div class="" id="delta-html">
                    </div>&emsp;
                    <!--<div class="" id="leadp-html">
                </div>&emsp;-->
                    <div class="" id="switch-html">
                    </div>&emsp;
                </div>
            </div>
            <!--  LED for top end -->
        </div>

        <!-- ============= COMPONENT ============== -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="main_nav">
                </div>
            </div>
        </nav>
        <!-- ============= COMPONENT END// ============== -->
        <!-- ============= JSON MODAL START ============== -->

        <div class="modal modal_outer right_modal fade" id="oms_modal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close" data-dismiss="modal">
                <div>x</div>
            </button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height: 100%">
                            <iframe src="" id="test-oms" loading="lazy" frameborder="0" style="border:0" width="100%" height="100%" allowfullscreen></iframe>
                            <!--<embed src="/analytics/dashboard" id="test-oms" frameborder="0" style="border:0" width="100%" height="100%" allowfullscreen></embed> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="modal modal_outer right_modal fade" id="investor_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-body mb-0 p-0">
                    <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height: 100%">
                        <embed src=" " id="test-investor" frameborder="0" style="border:0" width="100%" height="400%" allowfullscreen></embed>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal_outer right_modal fade" id="dealer_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-body mb-0 p-0">
                    <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height: 100%">
                        <embed src=" " id="test-dealer" frameborder="0" style="border:0" width="100%" height="400%" allowfullscreen></embed>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
        <!-- ============= JSON MODAL END// ============== -->
        <!-- =============== SETTINGS PAGE MODAL START ========= -->

        <div class="modal modal_outer right_modal fade" id="serveron_board" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height:100%">
                            <!-- <a href="/bodeodstatus" frameborder="0" style="border:0" allowfullscreen></a>-->
                            <iframe src="/onboard" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="modal modal_outer right_modal fade" id="servernew_onb_board" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-body mb-0 p-0">
                    <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height:100%">
                         <a href="/bodeodstatus" frameborder="0" style="border:0" allowfullscreen></a>
                        <iframe src="/newonb" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

        <div class="modal modal_outer right_modal fade" id="servernew_all_onb_board" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height:100%">
                            <!-- <a href="/bodeodstatus" frameborder="0" style="border:0" allowfullscreen></a>-->
                            <iframe src="" frameborder="0" loading="lazy" style="border:0" allowfullscreen id="test-onb"></iframe>
                            <!--<iframe src="/allonboard" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  ============= SETTINGS PAGE MODAL ENDS  ============ -->
        <!-- =============== DOMAIN PAGE MODAL START ========= -->
        <!--<div class="modal modal_outer right_modal fade" id="entity_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" >
        <button type="button" class="close" data-dismiss="modal">x</button>
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-body mb-0 p-0">
                    <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height:100%">
                        <iframe src="" frameborder="0" style="border:0" allowfullscreen id="test-entity"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
        <!-- =============== DOMAIN PAGE MODAL END ========= -->
        <!-- =============== DOMAIN-SWITCH PAGE MODAL START ========= -->

        <div class="modal modal_outer right_modal fade" id="entity-switch_modal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close close-all" id="close-all" data-dismiss="modal">x</button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height:100%">
                            <iframe src="" frameborder="0" loading="lazy" style="border:0" name="switch-frame" allowfullscreen id="test-switch"></iframe>
                            <!--<iframe src="/switch" frameborder="0" style="border:0;" allowfullscreen></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============== DOMAIN-SWITCH PAGE MODAL END ========= -->
        <!-- =============== BOD-EOD PAGE MODAL START ========= -->

        <div class="modal modal_outer right_modal fade" id="bodeod_modals" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close" id="bodeod_close" data-dismiss="modal">x</button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height:100%">
                            <iframe src="" frameborder="0" loading="lazy" style="border:0" allowfullscreen id="testbod-eod"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============== BOD-EOD PAGE MODAL END ========= -->
        <!-- =============== ADP PAGE MODAL START ========= -->
        <div class="modal modal_outer right_modal fade" id="adp_modals" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close" id="adp_close" data-dismiss="modal">x</button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height:100%">
                            <iframe src="" frameborder="0" loading="lazy" style="border:0" allowfullscreen id="test-adp"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============== ADP PAGE MODAL END ========= -->
        <!-- =============== LE-ADP PAGE MODAL START ========= -->
        <div class="modal modal_outer right_modal fade" id="leadp_modals" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close" id="leadp_close" data-dismiss="modal">x</button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height:100%">
                            <iframe src="" frameborder="0" loading="lazy" style="border:0" allowfullscreen id="test-leadp"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============== LE-ADP PAGE MODAL END ========= -->
        <!-- =============== EOD PAGE MODAL START ========= -->

        <div class="modal modal_outer right_modal fade" id="eod_modals" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close" id="eod_close" data-dismiss="modal">x</button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height:100%">
                            <iframe src="" frameborder="0" loading="lazy" style="border:0" allowfullscreen id="test-eod"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============== EOD PAGE MODAL END ========= -->
        <!-- =============== TICKET PAGE MODAL START ========= -->

        <div class="modal modal_outer right_modal fade" id="Ticket_modal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height: 100%">
                            <embed src="" frameborder="0" style="border:0" width="100%" height="400%" allowfullscreen id="test-ticket"></embed>
                            <!--<iframe src="/ticket" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============== TICKET PAGE MODAL END ========= -->
        <!-- =============== INCIDENT PAGE MODAL START ========= -->

        <div class="modal modal_outer right_modal fade" id="Incident_modal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel2">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <div class="modal-dialog" role="document">
                <div class="modal-content ">
                    <div class="modal-body mb-0 p-0">
                        <div id="map-container-google-16" class="z-depth-1-half map-container-9" style="height: 100%">
                            <embed src="" frameborder="0" style="border:0" width="100%" height="100%" allowfullscreen id="test-incident"></embed>
                            <!--<iframe src="/ticket" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============== INCIDENT PAGE MODAL END ========= -->
        <!--<section class="Overview" id="Overview">-->
        <div class="card chart-card">
            <div class="card-body chart-site-body">
                <div class="card-title">
                    <h6 id="last-update">Last update:- [ - : - : - ]</h6>
                </div>
                <div class="row" style="height:28%" id="Overview">
                    <div class="col-4 grid-margin stretch-card">
                        <div class="card" style="height:100%">
                            <div class="card-body card-low-padding">
                                <div class="row card-title" id="hardware-title-clr">

                                    <h4 class="bold">Hardwares</h4>
                                    <!--<h6 id="last-update">Last update:- [ - : - : - ]</h6>-->
                                    <!--<div id="hardware-heading" style="background-color:#a33219;color:white;border-radius:3px;font-size:16px;width:50%;text-align: center;display:none">NO HARDWARES AVAILABLE</div>-->
                                </div>
                                <div id="hardware-heading" class="row col-12" style="text-align:center;display:none">
                                    <div class="col-2"></div>
                                    <div class="col-8 " id="print-error">
                                        <h3 style="background-color:#a33219;color:white;border-radius:3px;font-size:14px;width:100%">
                                            NO HARDWARES AVAILABLE
                                        </h3>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                                <div class=" containerpie-hardware" id="containerpie-hardwares">
                                    <div class="center" id="loader">
                                        <img class="center" src="/static/app/images/loading-gif.gif">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 grid-margin stretch-card">
                        <div class="card" style="height:100%">
                            <div class="card-body card-low-padding">
                                <h4 class="row card-title" id="software-title-clr">
                                    Soft limits
                                    <!--<div id="software-heading" style="background-color:#a33219;color:white;border-radius:3px;font-size:16px;width:50%;text-align: center;display:none">NO SOFTWARES AVAILABLE</div>-->
                                </h4>
                                <div id="software-heading" class="row col-12" style="text-align:center;display:none">
                                    <div class="col-2"></div>
                                    <div class="col-8 " id="print-error">
                                        <h3 style="background-color:#a33219;color:white;border-radius:3px;font-size:14px;width:100%">
                                            NO SOFTWARES AVAILABLE
                                        </h3>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                                <div class=" containerpie-software" id="containerpie-softwares">
                                    <div class="center" id="loader">
                                        <img class="center" src="/static/app/images/loading-gif.gif">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 grid-margin stretch-card">
                        <div class="card" style="height:100%">
                            <div class="card-body card-low-padding">
                                <h4 class="row card-title" id="application-title-clr">
                                    Applications
                                    <!--<div id="application-heading" style="background-color:#a33219;color:white;border-radius:3px;font-size:16px;width:50%;text-align: center;display:none">NO APPLICATIONS AVAILABLE</div>-->
                                </h4>
                                <div id="application-heading" class="row col-12" style="text-align:center;display:none">
                                    <div class="col-2"></div>
                                    <div class="col-8 " id="print-error">
                                        <h3 style="background-color:#a33219;color:white;border-radius:3px;font-size:14px;width:100%">
                                            NO APPLICATIONS AVAILABLE
                                        </h3>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                                <div class=" containerpie-application" id="containerpie-applications">
                                    <div class="center" id="loader">
                                        <img class="center" src="/static/app/images/loading-gif.gif">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--</section>--><br id="new-br" />

        <div class="row col-12" style="display:flex">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="snackbar" id="snackbar" style="text-align: center;"></div>
                <div class="snackbars" id="snackbars" style="text-align: center;"></div>
            </div>
            <div class="col-4"></div>

        </div>

        <br />
        <section class="TicketsOverview" id="TicketsOverview">
            <div class="row ">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Ticket Status</h4>
                            <div id="series_chart_div" style="width: 100%; height: 400px;">
                                <div class="row col-12" style="text-align:center">
                                    <div class="col-4"></div>
                                    <div class="col-4 print-error" id="print-error"></div>
                                    <div class="col-4"></div>
                                </div>
                                <div class="center" id="loader">
                                    <img class="center" src="/static/app/images/loading-gif.gif">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
<!-- ========= content-wrapper ends ========== -->
{% block additional_js %}


<script src="{% static 'app/js_src/jquery.min.js' %}"></script>
<script src="{% static 'app/js_src/bootnavbar.js' %}"></script>
<script src="{% static 'app/js_src/sitepage.js' %}"></script>
<script src="{% static 'app/js_src/stomp.js' %}"></script>
<script src="{% static 'app/js_src/dashboard.js' %}"></script>
<script src="{% static 'app/js_src/entity.js' %}"></script>
<script src="{% static 'app/js_src/site-bod-eod-ws.js' %}"></script>
<script src="{% static 'app/js_src/site-switch.js' %}"></script>
<script src="{% static 'app/js_src/site-eod-ws.js' %}"></script>
<script src="{% static 'app/js_src/site-adp-ws.js' %}"></script>
<!--<script src="{% static 'app/js_src/eod-status.js' %}"></script>
<script src="{% static 'app/js_src/bod-eod.js' %}"></script>
<script src="{% static 'app/js_src/adp-status.js' %}"></script>-->
<script src="/static/app/js_src/entity-new-site-ws.js"></script>
<!--<script src="{% static 'app/js_src/sites-dashboard-entity.js' %}"></script>-->
<script src="{% static 'app/js_src/timeline.js' %}"></script>

<script src="{% static 'app/js_src/moment.min.js' %}"></script>
<script src="{% static 'app/js_src/sweetalert.min.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    var pageName = "Dashboard";
    var websocketurl = '{{ websocketurl }}'
    var analysticsDashboardurl = '{{ analysticsDashboardurl }}'
</script>



<!-- ========== Rajkumar added GET DOMAINS INFORMATIONS ======= -->

<script>
    var csfr_token = '{{csrf_token}}';
    // console.log('csrf--->' + csfr_token)
    var mysiteurl = window.location.href
    // console.log('mysiteurl---->' + mysiteurl)
    /* var mySubString = mysiteurl.substring(
          mysiteurl.indexOf("") + 0,
          mysiteurl.lastIndexOf("/sites")
      );*/
    var mySubString = mysiteurl.split('site=')[1]
    requestDataFromServer('/lesites/getallsitenames', { type: 'clicksite', site: mySubString }, "GET").done(analytic_url);
    // console.log('mysubstring------>' + mySubString)

    function analytic_url(data) {
        //   console.log('DATA--->' + data)
        data = JSON.parse(data);
        //console.log('DATA--->' + data)
        mySubString = data.data[0].le_url;
        getTableIndex();
    }
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    }

    //JSON analytics page script start

    function getTableIndex() {
        //  console.log('GETTABLEINDEX CALLED')
        // mySubString  = 'http://localhost:8080/'
        var apiUrl = mySubString + 'analytics/getTableIndex';
        // console.log("apiUrl  ----->" + apiUrl)
        var tableinfo = {}


        /* $.ajax({
            type: "GET",
            url: apiUrl,
            //data: {  csrfmiddlewaretoken: csfr_token },
            success: function (response) {
                console.log(response)
                console.log(response['url'])
                console.log((response['url'].split('None/'))[1])
                iframe_url = analytics_Prefix_URL + (response['url'].split('None/'))[1] + "?standalone=true"
                //testfunction(response);
                // var permlink=response['permalink']
            }
        });
        */

        var resp_data = fetch(apiUrl).then(response => {
            // console.log('FETCH APIURL IN GETTABLEINDEX RESP--->' + JSON.stringify(response.json()))
            return response.json();
        }).then(data => {
            // Work with JSON data here
            // console.log('DATA AFTER FETCH--->' + JSON.stringify(data))
            tableinfo = JSON.stringify(data['data'])
            //return tableinfo
            // console.log("tableinfo --->" + tableinfo)
            //document.getElementById("test-oms").src = "/analytics/dashboard";
            document.getElementById("test-oms").src = "/analytics/dashboard?jsonname=noren-oms.json&site=" + siteName + "&tableinfo=" + tableinfo;

        }).catch(err => {
            //console.log('INSIDE ERROR--->' + err)
            // Do something for an error here
        });
    }
    // console.log('BEFORE GETTABLE INDEX CALLED')
    // getTableIndex();

    //JSON analytics page script ends

    function changePageHeader(title) {
        $("#page-title").text(title);
    }

    var siteName = GetURLParameter('site');
    var bodURL = '/bod-eodstatus?site=' + siteName
    var eodURL = '/bod-eodstatus/eod?site=' + siteName
    var adpURL = '/bod-eodstatus/adp?site=' + siteName
    // console.log("i am from sites.html" + siteName)
    changePageHeader(siteName);

    var siteName = GetURLParameter('site');
    var bodURL = '/bod-eodstatus?site=' + siteName
    var eodURL = '/bod-eodstatus/eod?site=' + siteName
    var adpURL = '/bod-eodstatus/adp?site=' + siteName
    var leadpURL = '/bod-eodstatus/le-adp-status?site=' + siteName
    // console.log("i am from sites.html" + siteName)
    changePageHeader(siteName);

    document.getElementById("testbod-eod").src = "/bod-eodstatus?site=" + siteName;
    document.getElementById("test-leadp").src = "/bod-eodstatus/le-adp-status?site=" + siteName;
    document.getElementById("test-eod").src = "/bod-eodstatus/eod?site=" + siteName;
    document.getElementById("test-adp").src = "/bod-eodstatus/adp?site=" + siteName;
    document.getElementById("test-onb").src = "/allonboard?site=" + siteName;
    document.getElementById("test-oms").src = "/analytics/dashboard?site=" + siteName;

    //var entityURL = '/entity?site='+siteName
    //console.log("i am from entity sites.html"+entityURL)
    //document.getElementById("test-entity").src = "/entity?site=" + siteName;

    var switchURL = '/switch?site=' + siteName
    //console.log("i am from entity sites.html"+switchURL)
    document.getElementById("test-switch").src = "/switch?site=" + siteName;
    
    var ticketURL = '/ticket?site=' + siteName
    //console.log("i am from ticket sites.html"+ticketURL)
    document.getElementById("test-ticket").src = "/ticket?site=" + siteName;

    var incidentURL = '/incidents/?site=' + siteName
    //console.log("i am from ticket sites.html"+incidentURL)
    document.getElementById("test-incident").src = "/incidents/?site=" + siteName + "&modal_view_right=true";

</script>

<script>
    $('#series_chart_div').onreadystatechange = function () {
        if ($('#series_chart_div').readyState !== "complete") {
            document.querySelector(
                "#series_chart_div").style.visibility = "hidden";
            document.querySelector(
                "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
                "#loader").style.display = "none";
            document.querySelector(
                "#series_chart_div").style.visibility = "visible";
        }
    };
</script>
<script>
    // Get the icon element
    var icon = document.getElementById('icon-chats');

    // Add click event listener to the icon
    icon.addEventListener('click', function () {
        // Get the tooltip content element
        var tooltipContent = document.getElementById('tooltip-content');

        // Toggle tooltip visibility
        tooltipContent.style.display = tooltipContent.style.display === 'block' ? 'none' : 'block';
    });
</script>
<!-- ========== Rajkumar added GET DOMAINS INFORMATIONS ======= -->
<script>
    document.getElementById('close-all').addEventListener("click", function () {
        //console.log('CONSOLE INSIDE sites.html')

        var iframe = document.getElementById('test-switch').contentDocument;
        (iframe.querySelector('.btn-close')).click();
        var modalElements = iframe.getElementsByClassName('closable');
        for (var i = 0; i < modalElements.length; i++) {
            $(modalElements[i]).hide();
        }
    })
    document.getElementById('bodeod_close').addEventListener("click", function () {
        console.log('bodeod_close INSIDE sites.html')
        var iframe = document.getElementById('testbod-eod');

        var innerFunction = iframe.contentWindow.refreshBODEOD;
        if (typeof innerFunction === 'function') {
            innerFunction();
        } else {
            console.error('refreshBODEOD is not a function or is not yet loaded.');
        }
    })
    document.getElementById('adp_close').addEventListener("click", function () {
        console.log('adp_close INSIDE sites.html')
        var iframe = document.getElementById('test-adp');

        var innerFunction = iframe.contentWindow.refreshBODEOD;
        if (typeof innerFunction === 'function') {
            innerFunction();
        } else {
            console.error('refreshBODEOD is not a function or is not yet loaded.');
        }
    })
    document.getElementById('eod_close').addEventListener("click", function () {
        console.log('eod_close INSIDE sites.html')
        var iframe = document.getElementById('test-eod');

        var innerFunction = iframe.contentWindow.refreshBODEOD;
        if (typeof innerFunction === 'function') {
            innerFunction();
        } else {
            console.error('refreshBODEOD is not a function or is not yet loaded.');
        }

    })
</script>
{% endblock additional_js %}
