<div class="card ch-480" id="usertemplate">
	<div class="card-header heading">
		<div class="row">
			<div class="col-lg-6 col-md-4 col-12">
				<h6 class="card-title">Users</h6>
			</div>
			<div class="col-lg-6 col-md-8 col-12 d-flex mt-lg-0 mt-3">
				<div class="col-6 px-1">
					<div class="input-with-icon position-relative">
						<form autocomplete="off">
							<input class="search-input w-100 search bold-text" type="search" name="tags" id="tag" placeholder="Search" /> <i class="icon-search"></i>
						</form>
					</div>
				</div>
				<div class="col-6 px-1">
					<div class="dropdown select-btn-dropdown full-select-dropdown">
						<a class="form-btn btn-dropdown-link dropdown-toggle text-left w-100 bold-text" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Sort by
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="select-link dropdown-item sort" href="#" data-sort="firstname">Alphabetically</a>
							<a class="select-link dropdown-item" onclick="onRecentlyAdd()">Recently added</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body size14 mx-1 p-0 contarea">
		<div class="no-data grey-text text-center" id="usertemplate-nodata">
			<div class="error-tryagain">
				<div class="icon-img mb-2"> <i class="icon-error size30"></i></div>
				<p class="size16 mb-2 primary-text" id="nodatamessage"></p>
				<p class="size12 mb-0">We cannot get the information right now. Please try again</p>
				<button class="btn text-btn add" id="tryagainbtn" onclick="reloadSecrets()" disabled><i class="icon-refresh"></i>Try again</button>
			</div>
		</div>
		<div id="table-view">
			<table id="data">
				<thead class="table-head">
					<tr class="text-uppercase size12 bold-text">
						<td class="px-3"></td>
						<td class="pl-0">Name</td>
						<td>Username</td>
						<td style="display:none;">Date</td>
						<td>Status</td>
						<td></td>
					</tr>
				</thead>
				<tbody class="accordion list" id="accordionExample">
					<tr></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="card-footer color-card-footer">
		<button type="button" class="btn btn-outline-secondary float-right" onclick="onAdduser()" data-toggle="modal" data-target="#dialog-for-adduser"><i class="icon-plus px-2 white-text"></i>Add User</button>
	</div>
</div>
<div class="modal fade" id="dialog-for-adduser">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body py-0" id="dialog-body-for-user" style="margin-right: -2%;">
				<div class="row" style="display:flex">
					<div class="col-md-4 col-12 px-0 user-sidebar sidebar" style="left: -1%;">
						<div class="add-profile-contain">
							<div class="add-profile">
								<div class="add-profile-img mx-auto my-auto">
									<span id="addphoto" class="position-absolute photo-link text-center" style="color:#000000">Click to add Photo</span>
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-outline-secondary close dismiss-btn d-md-none d-inline-block" data-dismiss="modal">&times;</button>

						<div class="nav flex-md-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">
							<a class="nav-link active position-relative" id="v-pills-register-tab" data-toggle="pill" href="#v-pills-register" role="tab" aria-controls="v-pills-register" aria-selected="true"> <span class="indicator"></span> <span class="size24 pr-2"><i class="icon-profile"></i></span> <span class="link-name">Register User</span> </a>
							<a class="nav-link position-relative" id="v-pills-role-tab" data-toggle="pill" href="#v-pills-role" role="tab" aria-controls="v-pills-role" aria-selected="false" onclick="clickOnaddrole()"> <span class="indicator"></span> <span class="size24 pr-2"><i class="icon-profile"></i></span> <span class="link-name">Add Role</span> </a>
						</div>
					</div>
					<div class="col-md-8 col-12 px-0 registeruser" style="left: -1%;">
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-register" role="tabpanel" aria-labelledby="v-pills-register-tab">
								<div id="register">
									<div class="card-header d-flex">
										<div class="col-10">
											<h6 class="card-title heading">Register User</h6>
										</div>
										<div class="col-3">
											<button type="button" class="btn btn-outline-secondary close dismiss-btn d-md-inline-block d-none" data-dismiss="modal">&times;</button>
										</div>
									</div>
									<div class="card-body py-0 ">
										<div class="col-12 my-4">
											<label for="ip" id="firstname_label" class="lightgray-text" id="ip_label"> Full Name</label>
											<input type="text" class="form-control input_effect full-input " placeholder="Enter full name" name="firstname" class="" id="firstname" autocomplete="off">
											<span class="error-msg"></span>
										</div>
										<div class="col-12 my-4">
											<label for="email" class="lightgray-text" id="email_label">Email</label>
											<input type="text" class="form-control input_effect full-input inputvalidation " placeholder="Enter email" name="email" id="email" autocomplete="off" text_attribute="email">
											<span class="error-msg" id="email-error-msg"></span>
										</div>
										<div class="col-12 my-4 password-group">
											<label for="password" id="password_label">Password</label>
											<input class="form-control input_effect full-input pass password-field" id="passwords" placeholder="Enter password" type="password" name="password" required="" autocomplete="off" oncopy="return false" onpaste="return false">
											<span class="error-msg" id="password-error-msg"></span>
											<div class="d-inline-block icon"><i class="icon-hide toggle-password" id="dialog-for-adduser_password"></i></div>
										</div>
										<div class="col-12 mt-3" id="site-select-div">
											<label for="multi-select-site" id="multi-select-site-label">Select Site</label>
											<div>
												<select class="input-select  multiple-select custom-select multi-select-input w-100" multiple="multiple" id="multi-select-site"> </select>
												<span class="error-msg" id="multi-select-site-error-msg"></span>
											</div>
										</div>
										<div class="col-12 mt-3">
											<label for="role" id="role-label">Select Role</label>
											<div class="dropdown select-btn-dropdown full-select-dropdown">
												<a class="form-btn btn-dropdown-link dropdown-toggle select-input-link w-100" type="button" id="role" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Role</a>
												<div class="dropdown-menu  max-h-200" id="rolelist" aria-labelledby="role"> </div>
											</div> <span class="error-msg" id='role-error-msg'></span>
										</div>
										<div class="col-12 mt-3" id="application-select-div" style="display: none;">
											<label for="multi-select-application" id="multi-select-application-label">Select Application</label>
											<div>
												<select class="input-select  multiple-select custom-select multi-select-input w-100" multiple="multiple" id="multi-select-application"> </select>
												<span class="error-msg" id="multi-select-application-error-msg"></span>
											</div>
										</div>
									</div>
									<br />
									<div class="card-footer color-card-footer">
										<div class="col-12 text-right">
											<button class="btn btn-outline-secondary" id="yesbtn" onclick="submitdata()">Save user</button>
										</div>
									</div>
								</div>
								<div id="dialog-for-application" style="display: none;">
									<div class="card-header d-flex">
										<div class="col-10">
											<h6 class="card-title heading mb-2">Confirmation</h6>
											<p class="size12 text-color">Want to give edit permission for all</p>
										</div>
										<div class="col-2">
											<button type="button" class="btn btn-outline-secondary close dismiss-btn d-md-inline-block d-none" data-dismiss="modal">&times;</button>
										</div>
									</div>
									<div class="card-body py-0">
										<div class="col-12 my-4" id='applications'> </div>
									</div>
									<div class="card-footer color-card-footer">
										<div class="row">
											<div class="col-6">
												<button class="btn btn-outline-secondary " id="" onclick="clickOnBack()">Back</button>
											</div>
											<div class="col-6 pl-2">
												<button class="btn btn-outline-secondary pl-4 has-ripple" id="savebtn" onclick="saveEditapplications()" data-dismiss=" ">Save<span class="ripple ripple-animate" style="height: 150px; width: 150px; animation-duration: 0.5s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -36.6667px; left: -72.1667px;"></span></button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-role" role="tabpanel" aria-labelledby="v-pills-pills-tab">
								<div class="card-header d-flex">
									<div class="col-10">
										<h6 class="card-title heading mb-2">Add Role</h6>
										<p class="size12 text-color">Add new role for the users and give them required permissions</p>
									</div>
									<div class="col-2">
										<button type="button" class="btn btn-outline-secondary close dismiss-btn d-md-inline-block d-none" data-dismiss="modal">&times;</button>
									</div>
								</div>
								<div class="card-body py-0">
									<div class="col-12 my-4 px-md-2 px-0">
										<label for="rolename" id="rolename-label" class="lightgray-text">Role Name</label>
										<input type="text" class="form-control full-input" placeholder="Enter role name" name="rolename" id="rolename" autocomplete="off">
										<span class="error-msg" id='rolename-error-msg'></span>
									</div>
									<div class="col-12 my-4 px-md-2 px-0">
										<label id='permission'>Permissions</label>
									</div>
								</div>
								<div class="card-footer color-card-footer">
									<div class="col-12 text-right">
										<button class="btn btn-outline-secondary" id="addrole" onclick="addRole()">Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="dialog-for-edituser">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div id="edit">
				<div class="modal-header">
					<p class="modal-title">Edit User</p>
					<button type="button" class="btn btn-outline-secondary close dismiss-btn" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body py-1">
					<div class="col-11 px-1 mx-auto">
						<div class="col-12 my-4">
							<label for="edit_firstname" class="lightgray-text"> Full Name</label>
							<input type="text" class="form-control edit-input_effect full-input" placeholder="Enter full name" name="edit_firstname" id="edit_firstname" autocomplete="off">
							<span class="error-msg"></span>
						</div>
						<div class="col-12 mt-3" id="edit-site-select-div">
							<label for="edit-multi-select-site" id="edit-multi-select-site-label">Select Site</label>
							<div>
								<select class="input-select multiple-select custom-select multi-select-input w-100" multiple="multiple" id="edit-multi-select-site"> </select>
								<span class="error-msg" id="edit-multi-select-site-error-msg"></span>
							</div>
						</div>
						<div class="col-12 mt-3">
							<label for="edit_role" id="edit_role-label">Select Role</label>
							<div class="dropdown select-btn-dropdown full-select-dropdown">
								<a class="form-btn btn-dropdown-link dropdown-toggle select-input-link w-100" type="button" id="edit_role" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Role</a>
								<div class="dropdown-menu max-h-200" id="edit_rolelist" aria-labelledby="edit_role"> </div>
							</div> <span class="error-msg" id='edit_role-error-msg'></span>
						</div>
						<div class="col-12 mt-3" id="edit-application-select-div" style="display: none;">
							<select class="input-select multiple-select custom-select multi-select-input w-100" multiple="multiple" id="edit-multi-select-application"> </select> <span class="error-msg" id="multi-select-application-error-msg"></span>
						</div>
					</div>
				</div>
				<div class="modal-footer mx-auto col-11">
					<div class="col-6 px-1">
						<button type="button" class="btn btn-outline-secondary w-100" id="updatebtn" onclick="submitdata()">Save</button>
					</div>
				</div>
			</div>
			<div id="dialog-for-application" style="display: none;">
				<div class="card-header d-flex">
					<div class="col-10">
						<h6 class="card-title heading mb-2">Confirmation</h6>
						<p class="size12 primary-lighten">Want to give edit permission for all</p>
					</div>
					<div class="col-2">
						<button type="button" class="btn btn-outline-secondary close dismiss-btn" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="card-body py-0">
					<div class="col-12 my-4" id='applications'> </div>
				</div>
				<div class="card-footer light-bg2">
					<div class="col-12 text-right">
						<button class="btn btn-outline-secondary" id="" onclick="clickOnBack()">Back</button>
						<button class="btn btn-outline-secondary" id="edit-savebtn" onclick="saveEditapplications()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>