.dropdown-menu { /*this is for dropdown*/

    color: #ffffff;
    background-color: #16161a;
    border: 2px solid #000000;
}


.dropdown-item:hover, .dropdown-item:focus { /*this is for dropdown hover*/

    color: #ffffff;

    background-color: #7f5af0;
}


.card { /*this is for every card*/

    background-color: #16161a;
    /*background-image: linear-gradient(#815b0c,#b37d0e);*/
    border: 2px solid #000000
}


.card-title { /*this is for card title*/
    color: #fffffe;
    font-weight: bold;
}
.card-titles {
    color: #ffffff;
}

body, /*this is for body*/
html {

    background-color: #010101;
}

.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text],
.jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead,
.tt-query,
.tt-hint {
    border: 1px solid #000000;

    background-color: #7f5af0; /*this is for autodiscovery form input*/

    color: #ffffff;
}

.preview-list .preview-item .preview-thumbnail img,
.preview-list .preview-item .preview-thumbnail .preview-icon { /*this is for dropdown icon bg*/

    background: #16161a;
}

.table, .jsgrid .jsgrid-table { /*this is for ticket status font color*/

    color: #000000;
}

    .table thead th, .jsgrid .jsgrid-table thead th { /*this is for ticket status heading font color*/

        color: #000000;
    }

.navbar { /*this is for navbar*/
    background: #010101;

}

.sidebar {

    background: #010101; /*this is for sidebar*/

}

    .sidebar .sidebar-brand-wrapper { /*this is for icon surrounding area */

        background: #010101;

    }

    .sidebar .nav .nav-item .nav-link { /*this is for dropdown arrow*/

        color: #ffffff;

    }

.content-wrapper { /*this is for content-wrapper*/
    background: #242629;
    /*margin-top:1%*/
}


nav.tooltip-nav ul.tooltip-ul a.tooltip-a { /*this is for navbar bg*/

    background: #010101;

}

    nav.tooltip-nav ul.tooltip-ul a.tooltip-a:after { /*this is for the sidebar after rotate*/

        background: #7f5af0;
        color: white;
    }



.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback { /*this is for zoomin & zoomout*/

    background: #242629;

    color: white;

}

.card-header { /*this is for card-header*/

    background: #16161a; /*Rohinth changed*/

}

.card-footer { /*this is for card-footer*/
    background: #16161a;

}


.modal-content { /*this is for edit users modal*/
    background: #16161a !important; /*rohinth changed*/
    border: 2px solid #000000;
}

.modal-title {
    font-weight:bold
}


.form-control {
    background-color: #242629; /*this is for form-control*/
}

    .form-control:focus {
        background-color: #16161a; /*this is for form-control*/

        color: white;
    }

.form-group label{
    color:#ffffff;
}


.dropdown-item {
    color: #fff !important; /*rohinth changed*/
    /*background:black;*/
}

    .dropdown-item:hover {
        color:#ffffff;
        background: #7f5af0 !important; /*this is for dropdown hover*/
    }

.dropdowns{
    color:white;
}
.dropdowns-content { /*this is for analytics dropdown color*/
    background-color: #16161a;
    border: 2px solid #000000;
}

.dropdowns-item {
    color: #fffffe !important; /*rohinth changed*/
    /*background:black;*/
}

.custom-dropdown .dropdown-menu { /*this is for dropdown option color*/

    background: #242629; /*rohinth changed*/

}

.select-btn-dropdown .dropdown-menu {
    color: white; /*rohinth changed*/

    background: #242629; /*this is for dropdown in edit user in admin page*/

}

.full-select-dropdown .form-btn { /*this is for dropdown*/
    color: white;

    background: #242629; /*rohinth changed*/

}

.dropdown-divider { /* dropdown divider in commonlayout */

    border-top: 1px solid #fffffe; /*rajkumar changed*/
}

.search-input { /*this is for inputbar*/

    background: #242629;/*this is for search input*/
    color: white /*rohinth changed*/
}

    .search-input:hover { /*this is for input hover*/

        border-color: #7f5af0;
        color: white;
        background-color: #16161a;
    }

input[type="text"]:disabled {

    background: #242629 !important; /*this is for disabled input*/
}

.bg {
    background: #242629; /*this is for bg*/
}

.color-card-footer {
    background: #16161a; /*this is for footer*/

}

.tab-content {
    background: #7f5af0; /*this is for the add user in admin*/
    /*color: white*/
}

#dialog-body-for-user .link-name { /*this is for font color*/
    color: white;

}

.user-sidebar {
    background: #7f5af0; /*this is for add user*/
}

.accordion-toggle {
    background: #16161a /*this is for the accordion collapse color*/
}

table thead tr { /*this is for table head*/
    background-color: #d4d3ce;
}



table tbody tr{ /*this is for table body*/
    /*color:#fffffe;*/
    color:white;
}

table tbody tr:hover { /*this is for table body hover*/
    background-color: #7f5af0;
}

.table-head td { /*this is for table heading*/
    background: #2cb67d; /*rohinth changed*/
    color: #fffffe; /*rohinth changed*/
}


.table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td {
    border-top: 1px solid #fffffe;/*this is for row line in table */
}

::-webkit-scrollbar-track { /*this is for the track of the scroll-bar*/
    background: #16161a; /*rohinth changed*/
}



.ms-drop {

    background: #16161a; /*this is for edit user dropdown*/
    color: #fffff0;

}

.ms-choice {

    color: #fffffe;

    background: #242629; /*this is for form dropdown in admin page */
}



.dropdown-item:hover {
    background: #16161a; /*this is for dropdown color in newonboard*/
}

.select-input {

    background: #242629; /*this is for dropdown in newonboard*/
}



/*.dropdown-menu { *//*this is for newonboard dropdown menu*/
    /*background: #242629;*/
/*}*/

body {
    color: #94a1b2; /*this is for modal font color*/
    font-family: 'Montserrat', sans-serif !important;
}

.card-body {
    background-color: #16161a; /*this is for cardbody*/
}


.attach-cont .attach {
    background: #242629; /*this is for tickets attach file*/

}

.label{
    color:#ffffff;
}

.icon-bar a:hover{
    background-color:#7f5af0;
}


#vis {
    background-color: #16161a;
}

.page-title {
    color: #fffffe;
    font-weight:bold
}

.primary-text {
    /* color: var(--secondary); /*rohinth changed*/
}