{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{% trans "Sign Out" %}</h1>

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-dark" type="submit">{% trans 'Sign Out' %}</button>
    </form>

</div>
{% endblock %}
{% block extra_js %}
<script>
    document.body.style.backgroundImage = "url(../../../../static/app/images/login-bg-img1.png)";
    var element = document.getElementById("mob-soc");
   // element.classList.remove("mob-soc-one-slash");
   // element.classList.add("mob-soc-two-slash");
    element = document.getElementById("card2-box");
    element.classList.remove("shadowed");
    element.classList.add("shadowed_signout");
</script>
    {% endblock %}